<!DOCTYPE html>
<html>
    <head>
        <title>Enter details</title>
    </head>
    <body>
        <h1>Enter the details</h1>
        <form method = "POST" action = "/" id = "data-form">
            <input type = "radio" id = "s_id" name = "ID" value = "student_id" />
            <label  for = "s_id">Student ID</label>
            <input type = "radio" id = "c_id" name = "ID" value = "course_id" />
            <label  for = "c_id">Course ID</label>
            <input type = "text" name = "id_value" />
            <input type = "submit" value = "Sumbit" />
        </form>    
    </body>
</html>