<html>
    <head>
        <title>Enter the details</title>
    </head>
    <body>
        <h1>Enter the details</h1>
        <form action = "/"  method = "POST" id = "data-form">
            <input type = "radio" id = "s_id" name = "ID" value = "Student Id" />
            <label  for = "s_id">Student ID</label>
            <input type = "radio" id = "c_id" name = "ID" value = "Course Id" />
            <label  for = "c_id">Course ID</label>
            <input type = "text" name = "id_value" />
            <input type = "submit" value = "Sumbit" />
        </form>    
    </body>
</html>